{% load static %}
{% load calendars_tags %}

<script src= {% static 'vendor/fullcalendar/main.js' %}></script>

<script>

    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prevYear,prev,next,nextYear today',
        center: 'title',
        right: 'dayGridMonth,timeGridDay'
      },
      initialView: 'dayGridMonth',
      aspectRatio: 1,
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      businessHours: true,
      firstDay: 1,
      dayMaxEvents: true, // allow "more" link when too many events

      events: [
        {% for trip in trip_list %}
            {
                title: '{{ trip }}',
                url: '{% url 'trips:trip_detail' trip.pk %}',
                start: '{{ trip.start_date|date:"Y-m-d" }}',
                end: '{{ trip.end_date|addDay|date:"Y-m-d" }}',
                display: 'block',
            },
            {% for trip_day in trip.prefetched_trip_days %}
                {
                    title: '{{ trip_day }}',
                    url: '{% url 'trips:trip_day_detail' trip_day.pk %}',
                    start: '{{ trip_day.date|date:"Y-m-d" }}',
                    backgroundColor: '#6f9ecc',
                    display: 'block',
                },
                {% for activity in trip_day.prefetched_activities %}
                    {
                        title: '{{ activity }}',
                        start: '{{ trip_day.date|date:"Y-m-d" }}T{{ activity.time|time:"H:i" }}',
                        display: 'list-item',
                    },
                {% endfor %}
            {% endfor %}
        {% endfor %}
      ],
      displayEventTime: false,
      eventBackgroundColor: '#396694',
      eventBorderColor: 'black',
      eventTextColor: 'white',
    });

    calendar.render();
    });

</script>