<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Home | Trip Planner
{% endblock title %}

{% block header %}
    Home
{% endblock header %}

{% block description %}
    Home page.
{% endblock description %}

{% block content %}

    {{ block.super }}

    <br>
    
    <div class="card content-card-max-width mx-auto">
        <h3 class="card-header text-center">Welcome!</h3>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Trip Planner app is a convenient way to plan your future trips and document your past trips. You can:
                    <ul>
                        <li><span class="fw-bolder">create a trip</span> with specified dates and description,</li>
                        <li><span class="fw-bolder">add notes</span>  and <span class="fw-bolder">specify activities</span> for each day of the trip,</li>
                        <li>mark the trip areas or locations on a <span class="fw-bolder">interactive map</span>,</li>
                        <li><span class="fw-bolder">add photos</span> of the trip (current app version supports 1 photo per trip),</li>
                    </ul>
                    <p>Your trips as well as daily activities are conveniently displayed on a <span class="fw-bolder">calendar.</span></p>
                </li>
            </ul>
            <br>
            <div class="d-grid gap-2 col-12 col-sm-8 col-md-6 mx-auto">
                <a href="{% url 'trips:trip_create' %}" class="btn btn-outline-primary btn-lg" type="button"><strong>CREATE A NEW TRIP!</strong></a>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}