<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Home | Trip Planner
{% endblock title %}

{% block header %}
    Home
{% endblock header %}

{% block content %}

    {{ block.super }}

    <br>
    
    <div class="card content-card-max-width mx-auto">
        <h5 class="card-header text-center">
            Welcome!
        </h5>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Trip Planner app is a convenient way to plan your future trips and document your past trips. <br> You can:
                    <ul>
                        <li><span class="fw-bolder">create a trip</span> with specified dates and description,</li>
                        <li><span class="fw-bolder">add notes</span>  as well as <span class="fw-bolder">specify activities</span> for each day of the trip,</li>
                        <li>view your trips and daily activities on a <span class="fw-bolder">calendar</span>,</li>
                        <li>mark the trip areas or locations on an <span class="fw-bolder">interactive map</span> and view them for a particular trip or all trips,</li>
                        <li><span class="fw-bolder">upload photos</span> for each trip (current app version supports 1 photo per trip),</li>
                        <li>and more!</li>
                    </ul>
                </li>
            </ul>
        
            <hr class="trip__card-hr">
            {% if user.is_authenticated %}
                <div class="container">
                    <div class="d-grid gap-2 d-md-flex">
                        <a href="{% url 'trips:trip_list' %}" class="btn btn-primary btn-lg col-md-4" type="button"><i class="fs-5 bi-bicycle"></i> Trips</a>
                        <a href="{% url 'calendars:calendar' %}" class="btn btn-primary btn-lg col-md-4" type="button"><i class="fs-5 bi-table"></i> Calendar</a>
                        <a href="{% url 'markers:marker_list_all_trips' %}" class="btn btn-primary btn-lg col-md-4" type="button"><i class="fs-5 bi-map"></i> Map</a>
                    </div>
                </div>
            {% else %}
                <div class="text-end">
                    <p>Don't have an account yet? <a class="btn btn-primary" href="{% url 'account_signup' %}">Sign up for free now! &raquo;</a></p>
                    <div class="text-end">
                        Already have an account?
                        <span>
                            <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Login</a>
                            <a class="btn btn-outline-danger" href="{% url 'account_reset_password' %}">Forgot password?</a>
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <br>
{% endblock content %}