<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Home | Trip Planner
{% endblock title %}

{% block header %}
    Home
{% endblock header %}

{% block content %}

    {{ block.super }}

    <br>
    
    <div class="card content-card-max-width mx-auto">
        <h5 class="card-header text-center">Welcome!</h5>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Trip Planner app is a convenient way to plan your future trips and document your past trips. <br> You can:
                    <ul>
                        <li><span class="fw-bolder">create a trip</span> with specified dates and description,</li>
                        <li><span class="fw-bolder">add notes</span>  as well as <span class="fw-bolder">specify activities</span> for each day of the trip,</li>
                        <li>view your trips and daily activities on a <span class="fw-bolder">calendar</span>,</li>
                        <li>mark the trip areas or locations on an <span class="fw-bolder">interactive map</span> and view them for a particular trip or all trips,</li>
                        <li><span class="fw-bolder">upload photos</span> for each trip (current app version supports 1 photo per trip),</li>
                        <li>and more!</li>
                    </ul>
                </li>
            </ul>
            <br>
            <div class="d-grid gap-2 col-12 col-sm-8 col-md-6 mx-auto">
                <a href="{% url 'trips:trip_create' %}" class="btn btn-outline-primary btn-lg" type="button"><strong>CREATE A NEW TRIP!</strong></a>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}