/*==================== FULLCALENDAR ====================*/

.fullcalendar__outer-container {
    background: linear-gradient(var(--clr-bg-image-yellow-light), var(--clr-bg-image-orange-light));
    border-radius: .5rem;
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

#calendar a {
    color: black;
    text-decoration: none;
}

.fc-event-time, .fc-event-title {
    white-space:pre-wrap;
    }


/*==================== MEDIA QUERIES ====================*/

@media (min-width: 1024px) {
    .fullcalendar__outer-container {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 991px) {
    #calendar {
        font-size: 80%;
    }
}

@media (max-width: 767px) {
    #calendar {
        font-size: 60%;
    }
}

@media (max-width: 419px) {
    #calendar {
        font-size: 50%;
    }
}
