/*==================== VARIABLES CSS ====================*/

:root {
    /*========== Colors ==========*/
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 94%);
    --clr-neutral-300: hsl(0, 0%, 89%);
    --clr-neutral-400: hsl(0, 0%, 76%);
    --clr-neutral-500: hsl(0, 0%, 60%);
    --clr-neutral-600: hsl(0, 0%, 40%);
    --clr-neutral-800: hsl(0, 0%, 15%);
    --clr-neutral-900: hsl(0, 0%, 0%);
    --clr-primary-100: hsl(216, 78%, 94%);
    --clr-primary-200: hsl(216, 78%, 86%);
    --clr-primary-400: hsl(194, 64%, 38%);
    --clr-primary-500: hsl(213, 28%, 37%);
    --clr-primary-600: hsl(213, 29%, 31%);
    --clr-primary-700: hsl(213, 30%, 25%);
    --clr-primary-800: hsl(214, 31%, 20%);
    /*========== Images palettes ==========*/
    --clr-bg-image-yellow: #EFDD6F;
    --clr-bg-image-yellow-light: #ffe9af;
    --clr-bg-image-orange: #ffb55e;
    --clr-bg-image-orange-light: #fcd2a1;
    --clr-bg-image-blue: #6f9ecc;
    --clr-bg-image-blue-light: #99bbda;
    --clr-bg-image-blue-dark: #396694;
}


/*==================== BASE ====================*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}


/*==================== MAIN ====================*/

.main__content-min-height {
    min-height: 85vh;
}

.main__title-container {
    background-color: var(--clr-bg-image-blue);
}

.main__top-image-bg {
    background: url("/static/image/main-bg-top.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 29.45%; /* (img-height / img-width * container-width) */
                /* (377 / 1280 * 100) */
}

.main__middle-container {
    background: linear-gradient(var(--clr-bg-image-yellow), var(--clr-bg-image-yellow), var(--clr-bg-image-orange));
}

.main__middle-min-height {
    min-height: 47vh;
}

.main__bottom-image-bg {
    background: url("/static/image/main-bg-bottom.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 39.22%; /* (img-height / img-width * container-width) */
                /* (502 / 1280 * 100) */
}


/*==================== MEDIA QUERIES ====================*/

@media (max-width: 575px) {
    /* NOTE:XXX: main row has vh-100 so this is so that navbar doesnt get too close, has huge gutter under navbar though when there is little content
    so maybe better to address this in content, for instance add empty lines / margins on the end if content is too small in height (like login) */
    .sidebar__topnav-max-height {
        max-height: 6rem !important;
    }

    .sidebar__topnav-title {
        font-size: .8rem;
    }
}

/* source: https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb - Sidebar Example 2 */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}