{% extends "base.html" %}

{% load account %}

{% load crispy_forms_tags %}

{% block title %}
    E-mails | Trip Planner
{% endblock title %}

{% block header %}
    Account
{% endblock header %}

{% block description %}
    Confirm E-mail Address.
{% endblock description %}

{% block content %}

    {{ block.super }}

    <br>

    <div class="card form-max-width mx-auto">
        <div class="card-header text-center text-muted">
            Logout confirmation
        </div>
        <div class="card-body">
            <p>Please confirm your e-mail address.</p>
            {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}

                <p>Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.</p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <div class="text-end">
                        <button class="btn btn-success" type="submit">Confirm</button>
                    </div>
                </form>

            {% else %}

                {% url 'account_email' as email_url %}

                <p>This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.</p>

            {% endif %}
        </div>
    </div>

{% endblock content %}