{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Login | Trip Planner
{% endblock title %}

{% block header %}
    Account
{% endblock header %}

{% block description %}
    Login.
{% endblock description %}

{% block content %}

    {{ block.super }}
    
    <p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> for a free account.
    <br> Alternatively, feel free to login as a demo user (username: "example", password: "example").</p>
    <p>Please sign in below:</p>
    
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {{ form|crispy }}

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        <button class="btn btn-success" type="submit">Login</button>
    </form>
{% endblock content %}