{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Login | Trip Planner
{% endblock title %}

{% block header %}
    Account
{% endblock header %}

{% block content %}

    {{ block.super }}

    <br>

    <div class="card form-max-width mx-auto">
        <h5 class="card-header text-center">
            Login
        </h5>
        <div class="card-body">            
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}

                {{ form|crispy }}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-end">
                    <a class="button secondaryAction btn btn-outline-danger" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <br>
                <div class="text-end">
                    <p>Don't have an account yet? <a class="btn btn-outline-primary" href="{{ signup_url }}">Sign up for a free account! &raquo;</a></p>
                </div>
            </form>
        </div>
    </div>
<br>

{% endblock content %}