{% extends 'base.html' %}

{% block title %}
    Logout | Trip Planner
{% endblock title %}

{% block header %}
    Account
{% endblock header %}

{% block description %}
    Logout confirmation.
{% endblock description %}

{% block content %}

    {{ block.super }}

    <br>

    <div class="card form-max-width mx-auto">
        <div class="card-header text-center text-muted">
            Logout confirmation
        </div>
        <div class="card-body">
            <p>Are you sure you want to log out?</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-end">
                    <button class="btn btn-danger" type="submit">Confirm Logout</button>
                </div>
            </form>
        </div>
    </div>

    <br>
    
{% endblock content %}