{% extends "base.html" %}

{% block title %}
    Password Reset | Trip Planner
{% endblock title %}

{% block header %}
    Account
{% endblock header %}

{% block description %}
    Password Change.
{% endblock description %}

{% block content %}

    {{ block.super }}

    <br>

    <div class="card form-max-width mx-auto">
        <div class="card-header text-center text-muted">
            Password reset
        </div>
        <div class="card-body">
            <p>You have successfully changed your password!</p>
        </div>
    </div>

    <br>

{% endblock content %}