{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load account %}

{% block title %}
    Password Reset | Trip Planner
{% endblock title %}

{% block header %}
    Account
{% endblock header %}

{% block description %}
    Password Reset.
{% endblock description %}

{% block content %}

    {{ block.super }}
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-danger" type="submit" value="Reset My Password"/>
    </form>
{% endblock content %}