{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Password Change | Trip Planner
{% endblock title %}

{% block header %}
    Account
{% endblock header %}

{% block content %}

    {{ block.super }}

    <br>

    <div class="card form-max-width mx-auto">
        <h5 class="card-header text-center">
            Password change
        </h5>
        <div class="card-body">
            <form class="password_change form-max-width mx-auto" method="post" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-end">
                    <button class="btn btn-primary" type="submit" name="action">Change Password</button>
                    <a class="btn btn-outline-danger" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>

    <br>

{% endblock content %}