{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load account %}

{% block title %}
    Password Reset | Trip Planner
{% endblock title %}

{% block header %}
    Account
{% endblock header %}

{% block content %}

    {{ block.super }}

    <br>

    <div class="card form-max-width mx-auto">
        <h5 class="card-header text-center">
            Password reset
        </h5>
        <div class="card-body">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
        </div>
    </div>
    
    <br>
    
{% endblock content %}