{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Signup | Trip Planner
{% endblock title %}

{% block header %}
    Account
{% endblock header %}

{% block description %}
    Sign Up.
{% endblock description %}

{% block content %}

    {{ block.super }}

    <br>

    <div class="card form-max-width mx-auto">
        <div class="card-header text-center text-muted">
            Sign up
        </div>
        <div class="card-body">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
            </form>
            <br>
            <div class="text-end">
                <p>Already have an account? <a class="btn btn-outline-primary" href="{{ login_url }}">Login &raquo;</a></p>
            </div>
        </div>
    </div>
<br>
{% endblock %}