<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Trips | Trip Planner
{% endblock title %}

{% block header %}
    Trips
{% endblock header %}

{% block description %}
    Delete an activity.
{% endblock description %}

{% block content %}

    {{ block.super }}

    <br>
    
    <div class="card form-max-width mx-auto">
        <div class="card-header text-muted text-center">
            Activity delete
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete this activity: <span class="fw-bolder">{{ activity.title }}</span> from <span class="fw-bolder">{{ activity.day }}</span> of <span class="fw-bolder">{{ activity.trip }}</span> trip?</p>
            <form method="post">
                {% csrf_token %}
                <div class="text-end">
                    <button class="btn btn-danger" type="submit" value="Confirm">Confirm deletion</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
