<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Trips | Trip Planner
{% endblock title %}

{% block header %}
    Trips
{% endblock header %}

{% block description %}
    Trip detail page.
{% endblock description %}

{% block content %}

    {{ block.super }}
    
    <br>

    <div class="container content-max-width g-0">
        <div class="card content-card-max-width mx-auto text-center">
            <div class="card-header">
                <h5 class="card-title">{{ trip.title }}</h5>
                <p class="card-text">{{ trip.start_date }} - {{ trip.end_date }}</p>
            </div>
            <div class="card-body">
                {% if trip.picture %}
                    <img class='trip__card-image mb-2' src="{{ trip.picture.url }}" alt="trip-img">
                {% else %}
                    <p class="card-text text-muted">There is no picture for the trip yet.</p>
                {% endif %}
                <hr class="trip__card-hr">
                {% if trip.notes %}
                    <p class="card-text">{{ trip.notes }}</p>
                {% else %}
                    <p class="card-text text-muted">There are no notes for the trip yet.</p>                            
                {% endif %}
                <div class="text-end">
                    <a href="{% url 'trips:trip_update' trip.pk %}" class="btn btn-primary trip__card-button-width mb-1">Update details</a>
                    <a href="{% url 'trips:trip_update_picture' trip.pk %}" class="btn btn-primary trip__card-button-width mb-1">Update picture</a>
                    <a href="{% url 'markers:marker_list' trip.pk %}" class="btn btn-primary trip__card-button-width mb-1">Show Map</a>
                    <a href="{% url 'trips:trip_delete' trip.pk %}" class="btn btn-outline-danger trip__card-button-width mb-1">Delete Trip</a>
                </div>
            </div>
        </div>
        
        <br><br>
        
        <h4 class="text-center">Trip Days:</h4>
        <br>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-1 g-md-2 g-xl-3">
            {% for trip_day in trip.prefetched_trip_days %}
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-center">{{ trip_day }}</h5>
                            <h6 class="text-center">{{ trip_day.date }}</h6>
                        </div>
                        <div class="card-body">
                            {% if trip_day.notes %}
                                <p class="card-text">{{ trip_day.notes }}</p>
                            {% else %}
                                <p class="card-text text-muted text-center">There are no notes for the day yet.</p>
                            {% endif %}
                        </div>
                            {% if trip_day.prefetched_activities %}
                                <ul class="list-group list-group-flush">
                                    {% for activity in trip_day.prefetched_activities %}
                                        <li class="trip__card-activity-item list-group-item d-flex justify-content-between align-items-center">
                                            <div class="d-inline"><span>{{ activity.title }}</span></div>
                                            <div class="btn-group-vertical" role="group" aria-label="Activity buttons">
                                                <a href="{% url 'trips:activity_update' trip.pk trip_day.pk activity.pk %}" type="button" class="btn btn-outline-secondary btn-sm">Update</a>
                                                <a href="{% url 'trips:activity_delete' trip.pk trip_day.pk activity.pk %}" type="button" class="btn btn-outline-secondary btn-sm">Delete</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <hr class="trip__card-day-hr">
                                <br>
                                <p class="card-text text-muted text-center">There are no activities for the day yet.</p>
                            {% endif %}
                        <div class="card-body text-end">
                            <a href="{% url 'trips:trip_day_update' trip.pk trip_day.pk %}" type="button" class="btn btn-sm btn-outline-primary">Update notes</a>                        
                            <a href="{% url 'trips:activity_create' trip.pk trip_day.pk %}" type="button" class="btn btn-sm btn-outline-primary">Add activity</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    </div>

{% endblock content %}
