<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Trips | Trip Planner
{% endblock title %}

{% block header %}
    Trips
{% endblock header %}

{% block content %}

    {{ block.super }}

    <br>
    
    <div class="card form-max-width mx-auto">
        <h5 class="card-header text-center">
            Update trip day notes
        </h5>
        <div class="card-body">
            <form class="form-max-width mx-auto" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">Update notes</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
