<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Trips | Trip Planner
{% endblock title %}

{% block header %}
    Trips
{% endblock header %}

{% block description %}
    Update a trip.
{% endblock description %}

{% block content %}

    {{ block.super }}

    <br>
    
    <div class="card form-max-width mx-auto">
        <div class="card-header text-muted text-center">
            Trip Day notes
        </div>
        <div class="card-body">
            <p>You can update the details of your trip below:</p>
            <form class="form-max-width mx-auto" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">Update Trip details</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
