<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Trips | Trip Planner
{% endblock title %}

{% block header %}
    Trips
{% endblock header %}

{% block description %}
    Trip detail page.
{% endblock description %}

{% block content %}

    {{ block.super }}

    <h2>{{ trip.title }}</h2>
    <br>
    <h4>Trip start date: {{trip.start_date }}</h4>
    <h4>Trip end date: {{trip.end_date }}</h4>
    <h4>Trip notes:</h4>
    <p>{{ trip.notes }}</p>

    <a href="{% url 'trips:trip_update' trip.pk %}" class="btn btn-primary">Update details</a>
    <a href="{% url 'trips:trip_delete' trip.pk %}" class="btn btn-danger">Delete trip</a>

    <h4>Trip Days:</h4>
    {% for trip_day in trip.prefetched_trip_days %}
        <h5><a href="{% url 'trips:trip_day_detail' trip_day.pk %}">{{ trip_day }} - {{ trip_day.date }}</a></h5>
        {% for activity in trip_day.prefetched_activities %}
            <p>{{ activity.title }}</p>
        {% endfor %}
    {% endfor %}

    <a href="{% url 'markers:marker_list' trip.pk %}" class="btn btn-primary">See Trip Map</a>

{% endblock content %}
