<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Trips | Trip Planner
{% endblock title %}

{% block header %}
    Trips
{% endblock header %}

{% block content %}

    {{ block.super }}

    <br>
    
    <div class="card form-max-width mx-auto">
        <h5 class="card-header text-center">
            Delete the trip
        </h5>
        <div class="card-body">
            <p>Are you sure you want to delete this trip: 
            <br><span class="fw-bolder">{{ trip.title }}</span>?</p>
            <form method="post">
                {% csrf_token %}
                <div class="text-end">
                    <button class="btn btn-danger" type="submit" value="Confirm">Confirm deletion</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
