<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}

{% block title %}
    Map | Trip Planner
{% endblock title %}


{% block stylesheets %}

    {{ block.super }}

    {% leaflet_js %}
    {% leaflet_css %}

    <!--==================== Leaflet Custom CSS ====================-->
    <link rel="stylesheet" href={% static 'css/leaflet-main.css' %}>

    <!--==================== Leaflet-Ajax JS ====================-->
    <script src="{% static 'vendor/leaflet-ajax/leaflet.ajax.js' %}" charset="utf-8"></script>

{% endblock stylesheets %}


{% block header %}
    Map
{% endblock header %}


{% block description %}
    Map view.
{% endblock description %}


{% block content %}

    {{ block.super }}
    
    {% leaflet_map "main_map" callback="window.get_markers" %}

    <script type="text/javascript">
        function get_markers(map, options){
        let dataset = new L.GeoJSON.AJAX("{% url 'markers:api_trip_markers' trip_pk %}", {
        onEachFeature: function(feature, layer) {
        layer.bindPopup(feature.properties.name)
        }
        });
        dataset.addTo(map)
        }
    </script>

    <a href="{% url 'markers:marker_create' trip_pk %}" class="btn btn-primary">Add location marker</a>

{% endblock content %}


{% block scripts %}
    
    {{ block.super }}

{% endblock scripts %}