<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}

{% block title %}
    Map | Trip Planner
{% endblock title %}


{% block stylesheets %}

    {{ block.super }}

    {% leaflet_js %}
    {% leaflet_css %}

    <!--==================== Leaflet Custom CSS ====================-->
    <link rel="stylesheet" href={% static 'css/leaflet-main.css' %}>

    <!--==================== Leaflet-Ajax JS ====================-->
    <script src="{% static 'vendor/leaflet-ajax/leaflet.ajax.js' %}" charset="utf-8"></script>

{% endblock stylesheets %}


{% block header %}
    Map
{% endblock header %}


{% block content %}

    {{ block.super }}
        
    <br>



    <div class="content-map-max-width mx-auto">
    
        <div class="card content-card-max-width mx-auto">
            <h5 class="card-header text-center">
                Trip Map
            </h5>
            <div class="card-body">
                <p>On this page you can add and view map location markers for your trip.</p>
                <div class="text-end">
                    <a href="{% url 'markers:marker_create' trip_pk %}" class="btn btn-outline-primary">Add location marker</a>
                </div>
            </div>
        </div>

        <br>

        {% leaflet_map "main_map" callback="window.map_init" %}
        
        <script type="text/javascript">
        
            function map_init(map, options){
                let southWest = L.latLng(-90, -180),
                    northEast = L.latLng(90, 180),
                    bounds = L.latLngBounds(southWest, northEast);
                map.setMinZoom( map.getBoundsZoom(bounds, true));
                let dataset = new L.GeoJSON.AJAX("{% url 'markers:api_trip_markers' trip_pk %}", {
                onEachFeature: function(feature, layer) {
                layer.bindPopup('<h6>'+feature.properties.name+'</h6><a href={% url "pages:home" %}'+'markers/trips/{{ trip_pk }}/update/'+feature.id+'>Update</a><span> | </span><a href={% url "pages:home" %}'+'markers/trips/{{ trip_pk }}/delete/'+feature.id+'>Delete</a>')
                }
                });
                dataset.addTo(map)
            }
        
        </script>
    </div>

    <br>

{% endblock content %}


{% block scripts %}
    
    {{ block.super }}

{% endblock scripts %}