<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    Map | Trip Planner
{% endblock title %}

{% block header %}
    Map
{% endblock header %}

{% block description %}
    Delete a marker.
{% endblock description %}

{% block content %}

    {{ block.super }}

    <br>
    
    <div class="card form-max-width mx-auto">
        <div class="card-header text-muted text-center">
            Delete confirmation
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete this marker: {{ marker.name }}?</p>
            <form method="post">
                {% csrf_token %}
                <div class="text-end">
                    <button class="btn btn-danger" type="submit" value="Confirm">Confirm deletion</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
